.navbar-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between center;
    align-items: center;
    background-color: dodgerblue;
}

.navbar-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #FFFFFF
}

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}