.HorizontalContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.VerticalPane {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color:honeydew;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}

.CartItemImageContainer {    
    width: 50em;
    border-radius: 10px;
    margin: 5px;
}

.ItemDetailRows {    
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: honeydew;
    width: 50em;
    border-radius: 10px;
}

.QtyRow {
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    column-gap: 5px;
}