.HorizontalContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.VerticalPane {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 10px;
}

.CartItemImageContainer {
    height:200px;
    width: 50em;
    border-radius: 10px;
    margin: 5px;
}

.ItemDetailRows {    
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50em;
    background-color: blueviolet;
    border-radius: 10px;
}

.QtyRow {
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    column-gap: 10px;
}