.product-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: DodgerBlue;
}

.product-list-block{
    background-color: #f1f1f1;
    flex-flow: column;
    margin: 10px;
    width: 25%;
    border-radius: 10px;
}
